<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.org.ineco.prl.ninios" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".classes.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWithoutLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SemanticaActivity"
            android:label="@string/title_activity_semantica"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AsociacionActivity"
            android:label="@string/title_activity_asociacion"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".IdentificacionActivity"
            android:label="@string/title_activity_identificacion"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".IntrusoActivity"
            android:label="@string/title_activity_intruso"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PragmaticaActivity"
            android:label="@string/title_activity_pragmatica"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".LecturaActivity"
            android:label="@string/title_activity_lectura"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DiscriminacionActivity"
            android:label="@string/title_activity_discriminacion"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DenominacionActivity"
            android:label="@string/title_activity_denominacion"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".VerdaderoFalsoActivity"
            android:label="@string/title_activity_verdaderofalso"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".UnirConFlechasActivity"
            android:label="@string/title_activity_unirconflechas"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".LevelsActivity"
            android:label="@string/title_activity_levels"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".TaskCreatorActivity"
            android:label="@string/title_activity_taskcreator"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>